BDA.WebService/WSDL/TransactionStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SI_TransactionStatus_Sync_In" targetNamespace="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00" xmlns:p1="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_SI_TransactionStatus_Sync_In"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00" xmlns="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00">
      <xsd:element name="MT_TransactionStatusResponse" type="DT_TransactionStatusResponse"/>
      <xsd:element name="MT_TransactionStatusRequest" type="DT_TransactionStatusRequest"/>
      <xsd:complexType name="DT_ResponseHeader">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Response Header</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ResponseId">
            <xsd:annotation>
              <xsd:documentation>Unique alphanumeric value
generated by the responder.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ResTransactionId">
            <xsd:annotation>
              <xsd:documentation>Transaction ID generated by the
consumer system- this value is
obtained from the request
message.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ProviderId">
            <xsd:annotation>
              <xsd:documentation>Refer to section 3 for the list of
system identification codes.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ResTimestamp">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ResStatus">
            <xsd:annotation>
              <xsd:documentation>Indicates whether the provider has
successfully responded to the
request or failed to do so.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MsgCode">
            <xsd:annotation>
              <xsd:documentation>Refer to the ‘SOA Implementation
Messages’ document for the
message codes specifications and
common messages.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MsgDesc" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Description of the message
indicated by the MsgCode element.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_TransactionStatusRequest">
        <xsd:sequence>
          <xsd:element name="RequestHeader" type="DT_RequestHeader"/>
          <xsd:element minOccurs="0" name="TRANSACTION_STATUS">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="STATUS" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Status</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="MESSAGE">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="MESSAGE_DESCRIPTION" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Message Description</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="CONSUMER_REF_ID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Consumer Reference ID</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="CONSUMER_REF_SERVICE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Consumer Reference Service</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="CLIENT_ID">
                  <xsd:annotation>
                    <xsd:documentation>Client ID</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TRANSACTION_OUTPUT">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="OUTPUT_NAME" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Output Name</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="OUTPUT_VALUE" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Output Value</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="OUTPUT_VALUE2" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Output Value 2</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="OUTPUT_VALUE3" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Output Value 3</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="OUTPUT_VALUE4" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Output Value 4</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="OUTPUT_VALUE5" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Output Value 5</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_TransactionStatusResponse">
        <xsd:sequence>
          <xsd:element name="ResponseHeader" type="DT_ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_RequestHeader">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Request Header</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="RequestId">
            <xsd:annotation>
              <xsd:documentation>Unique alphanumeric value
generated by the requester.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ReqTransactionId">
            <xsd:annotation>
              <xsd:documentation>Transaction ID generated by the
consumer system.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ConsumerId">
            <xsd:annotation>
              <xsd:documentation>Consumer ID</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ReqTimestamp">
            <xsd:annotation>
              <xsd:documentation>Request timestamp</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_TransactionStatusRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_TransactionStatusRequest" name="MT_TransactionStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="MT_TransactionStatusResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_TransactionStatusResponse" name="MT_TransactionStatusResponse"/>
  </wsdl:message>
  <wsdl:portType name="SI_TransactionStatus_Sync_In">
    <wsdl:documentation/>
    <wsdl:operation name="SI_TransactionStatus_Sync_In">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_TransactionStatus_Sync_In"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_TransactionStatusRequest"/>
      <wsdl:output message="p1:MT_TransactionStatusResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_TransactionStatus_Sync_InBinding" type="p1:SI_TransactionStatus_Sync_In">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SI_TransactionStatus_Sync_In">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_TransactionStatus_Sync_In_Service">
    <wsdl:port binding="bprf:SI_TransactionStatus_Sync_InBinding" name="SI_TransactionStatus_Sync_In_Port" xmlns:bprf="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
