BDA.WebService/WSDL/VendorInvoiceCreate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SI_VendorInvoiceCreate_Async_Out" targetNamespace="urn:tnb.com.my:BDA:po:FM:VendorInvoiceCreate:00" xmlns:p1="urn:tnb.com.my:BDA:po:FM:VendorInvoiceCreate:00" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_SI_VendorInvoiceCreate_Async_Out"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00" xmlns="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00">
      <xsd:complexType name="DT_RequestHeader">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Request Header</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="RequestId">
            <xsd:annotation>
              <xsd:documentation>Unique alphanumeric value
generated by the requester.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ReqTransactionId">
            <xsd:annotation>
              <xsd:documentation>Transaction ID generated by the
consumer system.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ConsumerId">
            <xsd:annotation>
              <xsd:documentation>Consumer ID</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ReqTimestamp">
            <xsd:annotation>
              <xsd:documentation>Request timestamp</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:tnb.com.my:BDA:po:FM:VendorInvoiceCreate:00" xmlns="urn:tnb.com.my:BDA:po:FM:VendorInvoiceCreate:00" xmlns:p4="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00">
      <xsd:import namespace="urn:tnb.com.my:BDA:po:ALL:TransactionStatus:00"/>
      <xsd:element name="MT_VendorInvoiceCreate" type="DT_VendorInvoiceCreate"/>
      <xsd:complexType name="DT_VendorInvoiceCreate">
        <xsd:sequence>
          <xsd:element name="RequestHeader" type="p4:DT_RequestHeader"/>
          <xsd:element name="VendorInvoiceCreateRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DocumentHeader">
                  <xsd:annotation>
                    <xsd:documentation>Document Header</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="AttributeName" type="xsd:string">
                              <xsd:annotation>
                                <xsd:documentation>Attribute name of document header</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="AttributeValue" type="xsd:string">
                              <xsd:annotation>
                                <xsd:documentation>Attribute value of document header</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VendorItems">
                  <xsd:annotation>
                    <xsd:documentation>Vendor Items</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VendorItemData">
                        <xsd:annotation>
                          <xsd:documentation>Vendor Item Data</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="AttributeName" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:documentation>Attribute name of vendor item</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element name="AttributeValue" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:documentation>Attribute value of vendor item</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="GLItems">
                  <xsd:annotation>
                    <xsd:documentation>G/L Items</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element maxOccurs="unbounded" minOccurs="0" name="GLItemData">
                        <xsd:annotation>
                          <xsd:documentation>G/L Item Data</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="AttributeName" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:documentation>Attribute name of G/L Item</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:element>
                                  <xsd:element name="AttributeValue" type="xsd:string">
                                    <xsd:annotation>
                                      <xsd:documentation>Attribute value of G/L Item</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_VendorInvoiceCreate">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_VendorInvoiceCreate" name="MT_VendorInvoiceCreate"/>
  </wsdl:message>
  <wsdl:portType name="SI_VendorInvoiceCreate_Async_Out">
    <wsdl:documentation/>
    <wsdl:operation name="SI_VendorInvoiceCreate_Async_Out">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_VendorInvoiceCreate_Async_Out"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_VendorInvoiceCreate"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_VendorInvoiceCreate_Async_OutBinding" type="p1:SI_VendorInvoiceCreate_Async_Out">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SI_VendorInvoiceCreate_Async_Out">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_VendorInvoiceCreate_Async_Out_Service">
    <wsdl:port binding="bprf:SI_VendorInvoiceCreate_Async_OutBinding" name="SI_VendorInvoiceCreate_Async_Out_Port" xmlns:bprf="urn:tnb.com.my:BDA:po:FM:VendorInvoiceCreate:00">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
